<div class="carousel-container text-dark pt-3">
  <div id="carouselExampleInterval" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="./../../../../../assets/go_transparent.png" class="d-block w-100" alt="...">
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption d-none d-md-block">
          <h5>Your favorite virtual campus.</h5>
          <p>if you can imagine it, you can program it. 💻</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="./../../../../../assets/hg.png" class="d-block w-100" alt="...">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption d-none d-md-block">
          <h5>This is for you!! 💭</h5>
          <p>We exist for your dreams.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="./../../../../../assets/twitter_header_photo_2.png" class="d-block w-100" alt="...">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="carousel-caption d-none d-md-block">
          <h5>Still here?</h5>
          <p>No more.</p>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
