  <div>
    <table class="table caption-top">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses; let i = index">
          <th scope="row">{{i+1}}</th>
          <td (click)="content(course.courseID)" class="pointer">{{course.title}}</td>
          <td>{{course.description}}</td>
          <td>{{course.duration}} min</td>
        </tr>
      </tbody>
    </table>
  </div>
