<div class="col">
  <h2 class="mb-4">Courses</h2>
</div>
  <div class=" table-responsive">
    <table class="table table-hover">
      <thead class="text-center">
        <tr class="text-king-blue">
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-king-blue text-center">
        <tr *ngFor="
        let course of courses
          | slice
            : (page - 1) * contentsPerPageTable
            : (page - 1) * contentsPerPageTable +
            contentsPerPageTable; let i = index">
          <th scope="row">{{i+1}}</th>
          <td (click)="content(course.courseID)" class="pointer">{{course.title}}</td>
          <td>{{course.description}}</td>
          <td>{{course.duration}} min</td>
          <td>

            <button *sofkaShowForRoles="[1]" type="button" class="btn btn-outline-primary button-space me-2 " (click)="update(course.courseID)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
            </button>

            <button *sofkaShowForRoles="[1]" type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
              </svg>
            </button>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Course</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete the course?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="delete(course.courseID, i)">Delete</button>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
      <ul class="col pagination align-self-center">
        <li class="page-item" [class.disabled]="page == 1">
          <a class="page-link" (click)="page = 1">First</a>
        </li>
        <li class="page-item" [class.disabled]="page == 1">
          <a class="page-link" (click)="page = page - 1">Previous</a>
        </li>
        <li class="page-item" [class.disabled]="page == totalPages">
          <a class="page-link" (click)="page = page + 1">Next</a>
        </li>
        <li class="page-item" [class.disabled]="page == totalPages">
          <a class="page-link" (click)="page = totalPages">Lastest</a>
        </li>
      </ul>
  </div>
