<div class="container-sm">
  <ol class="list-group list-group" *ngFor="let content of contents; let i = index">
    <li class="list-group-item d-flex justify-content-between align-items-start p-3">
      <div class="col col-9 me-auto pointer" (click)="detail(content.contentID, content.type)">
        <div class="fw-bold">
          <a>{{content.title}}</a>
        </div>
        <span class="badge bg-purple rounded-pill p-2 mt-1">{{content.type | enumsNumberToStringPipe:
          'TypeContent'}}</span>
      </div>
      <button *sofkaShowForRoles="[1]" type="button" class="btn btn-sm btn-outline-orange me-1 shadow"
        (click)="update(content.contentID)">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button *sofkaShowForRoles="[1]" type="button" class="btn btn-sm btn-outline-danger me-5 shadow"
        data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="modal(content.contentID, i)">
        <i class="bi bi-trash3"></i>
      </button>
      <span class="badge bg-purple rounded-pill p-2">{{content.duration | minsToHours}}</span>
    </li>
  </ol>
</div>

<!-- Modal delete content -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Do you want to delete the content?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
          (click)="delete(contentID, index)">Delete</button>
      </div>
    </div>
  </div>
</div>
