<div class="row w-100">
    <div class="col col-lg-1 p-4 ps-5">
        <sofka-back-button [routeBack]="routeDashboard"></sofka-back-button>
    </div>
    <div class="col p-4 pe-5" *sofkaShowForRoles="[1]">
      <p class="float-end">
        <button class="btn btn-blue" type="button" data-bs-toggle="collapse" (click)="create()" *ngIf="courses.length > 0"
          data-bs-target="#createRegistrationCollapse" aria-expanded="false" aria-controls="collapseExample">
          Create Course
        </button>
      </p>
    </div>
</div>

<div class="row w-auto w-75 p-3">
  <sofka-list [courses]="courses" *ngIf="courses.length > 0"></sofka-list>
</div>

<div class="card position-absolute top-50 start-50 translate-middle" 
      style="width: 18rem;" *ngIf="courses.length == 0" >
  <div class="card-body">
    <h5 class="card-title">Empty course</h5>
    <p class="card-text" *sofkaShowForRoles="[1]">The course is currently empty. Do you want to add content?</p>
    <p class="card-text" *sofkaShowForRoles="[2]">The course is currently empty.</p>
    <button type="button" class="btn btn-success" (click)="create()" *sofkaShowForRoles="[1]">Add</button>
  </div>
</div>
