<div class="container-fluid position-absolute top-50 start-50 translate-middle text-center" style="background: url(https://campus.diference.net/pluginfile.php/33/mod_label/intro/aula-virtual.jpg);
background-size: cover;
  height: 100vh;
  width: 100%;">
  <div class="row align-items-center p-3" style="margin-top: 25vh;">
    <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
      <div class="card border-1 border-info text-center rounded-3">
        <div class="card-body text-light">
          <h1 class="card-title mb-4 title-login text-purple mt-2"><i class="bi bi-mortarboard"> MERSJ U </i>
          </h1>
          <h6 class="card-subtitle mb-3 text-muted text-light">Please log in with your account</h6>
          <div class="container-fluid p-3 rounded-3 mb-2">
            <form id="frmLogin" [formGroup]="frmLogin" class="form-control border-0">
              <div class="mb-3 mt-2 row">
                <label for="email" class=" col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="email" id="email" placeholder="email"
                    formControlName="email" #email>
                  <p class="text-purple mt-1 text-start" id="login-email-error-required"
                    *ngIf="frmLogin.get('email')?.hasError('required') && frmLogin.get('email')?.touched">
                    You must indicate your e-mail address.
                  </p>
                  <p class="text-purple mt-1 text-start" id="login-email-error-format"
                    *ngIf="frmLogin.get('email')?.hasError('email') && frmLogin.get('email')?.touched">
                    The format does not match an e-mail address.
                  </p>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="password"
                    formControlName="password" #password required>
                  <p class="text-purple mt-1 text-start" id="login-password-error-required"
                    *ngIf="frmLogin.get('password')?.hasError('required') && frmLogin.get('password')?.touched">
                    You must indicate your password.
                  </p>
                  <p class="text-purple mt-1 text-start" id="login-password-error-minlength"
                    *ngIf="frmLogin.get('password')?.hasError('minlength') && frmLogin.get('password')?.touched">
                    The password must be at least 8 characters long.
                  </p>
                </div>
              </div>
            </form>
            <button type="button" form="frmLogin" class="btn btn-action btn-lg shadow mt-3"
              (click)="signIn(email.value, password.value)">
              <i class="bi bi-box-arrow-in-right"> Sign In</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>