<div *ngIf="!render" class="spinner-grow text-bg-secondary position-absolute top-50 start-50 min-vw-75 min-vh-75"
  role="status">
</div>
<div *ngIf="render" style="display: flex;">
  <div class="col col-lg-1 p-4 ps-5">
    <sofka-back-button [routeBack]="routeDashboard"></sofka-back-button>
  </div>
  <div style="flex-grow: 1; padding-right: 10px;  padding-top: 4%;">
    <!--Create a table with the list of deliveries obtained by pathID-->
    <div class="row m-3 text-king-blue" style="flex: 1;">
      <h3>My deliveries</h3>
      <div class="table-responsive mt-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Delivery at</th>
              <th scope="col">Delivery field</th>
            </tr>
          </thead>
          <tbody *ngIf="!searching" class="table-group-divider text-king-blue text-center">
            <tr *ngIf=" empty;else datosAll" class="text-center">
              <th colspan="4">No deliveries yet</th>
            </tr>
            <ng-template #datosAll class="text-light">
              <tr *ngFor="let item of deliveryItems">
                <td>{{item.deliveryAt | date: 'dd/MM/yyyy'}}</td>
                <td><a class="text-decoration-none text-purple" href="{{item.deliveryField}}"
                    target="_blank"><strong>Clic
                      here <i class="bi bi-box-arrow-up-right"> </i> </strong></a>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-outline-info shadow" (click)="viewDeliveryDetails(item)">
                    <i class="bi bi-sunglasses"> </i></button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>

    <!--Create a bottom to get deliveries by uidUser with the input uidUser-->
    <!-- <div style="flex: 1;">
      <h3>Get deliveries by uidUser</h3>
      <form [formGroup]="getDeliveriesByUidUserForm" class="form-control" id="getDeliveriesByUidUserForm">
        <div>
          <label for="uidUser">uidUser</label>
          <div>
            <input type="text" id="uidUser" formControlName="uidUser">
          </div>
          <div *ngIf="getDeliveriesByUidUserForm.get('uidUser')?.hasError('required') &&
              getDeliveriesByUidUserForm.get('uidUser')?.touched">
            <p class="text-bg-danger">
              uidUser is required
            </p>
          </div>
        </div>
      </form>
      <div>
        <button type="submit" [disabled]="!getDeliveriesByUidUserForm.valid" (click)="getDeliveriesByUidUser()">Get
          Deliveries</button>
      </div>
    </div> -->
  </div>

  <div style="flex-basis: 40%; padding-top: 4%; padding-right: 1.5%;">
    <!--Create a list to get a especific delivery by ID using this.deliveryItem-->
    <div class="row m-3 shadow-lg rounded-3 p-4" *ngIf="showDelivery">
      <h3 class="mt-1">Delivery details</h3>
      <div class="table-container mt-2">
        <table class="table table-hover table-inverted">
          <tbody>
            <tr>
              <th>delivery at</th>
              <td>{{deliveryItem.deliveryAt | date }}</td>
            </tr>
            <tr>
              <th>delivery field</th>
              <td><a class="text-decoration-none text-purple" href="{{deliveryItem.deliveryField}}"
                  target="_blank"><strong>Clic
                    here <i class="bi bi-box-arrow-up-right"> </i> </strong></a></td>
            </tr>
            <tr>
              <th>rating</th>
              <td>{{deliveryItem.rating}}</td>
            </tr>
            <tr>
              <th>comment</th>
              <td>{{deliveryItem.comment}}</td>
            </tr>
            <tr>
              <th>rated at</th>
              <td>{{deliveryItem.ratedAt | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center mt-2">
        <button type="button" class="btn btn-outline-danger" (click)="closeDeliveryDetails()">Close</button>
      </div>
    </div>
  </div>
</div>
